<div class="container scheduler" ng-switch="showView" ng-cloak>
  <div ng-switch-default>
    <div class="page-header">
      <h3>Scheduler</h3>
    </div>

    <div class="form-group">
      <label>Employee</label>
      <select chosen class="form-control" ng-options="availableEmployee.name for availableEmployee in availableEmployees track by availableEmployee._id" ng-model="newShift.employee">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group">
      <label>Role</label>
      <select chosen class="form-control" ng-options="role.name for role in newShift.employee.roles track by role._id" ng-model="newShift.role">
        <option value=""></option>
      </select>
    </div>

    <div class="form-group">
      <label>Schedule Date</label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newShift.scheduleDate"
         is-open="scheduleDatePicker.open" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openScheduleDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>

    <div class="form-group">
      <label>Start Time</label>
      <uib-timepicker ng-model="newShift.starttime"></uib-timepicker>
    </div>

    <div class="form-group">
      <label>End Time</label>
      <uib-timepicker ng-model="newShift.endtime"></uib-timepicker>
    </div>


    <button type="button" class="btn btn-success" ng-click="handleSave(newShift)">Save</button>

  </div>



</div>
