<div class="container messages" ng-switch="showView" ng-cloak>
  <div ng-switch-default>
    <div class="page-header">
      <h3>Messages</h3>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-success" ng-click="handleShowMessageCreator()">Create New</button>
    </div>
    <div class="row">
      <div class="col-sm-4" ng-repeat="message in messages">
        <div class="thumbnail">
          <div class="caption">
            <h3 class="from">{{message.from.name}}</h3>
            <div class="row">
              <h4 class="col-sm-12 title">{{message.content.title}}</h4>
            </div>
            <div class="row">
              <h4 class="col-sm-6">Received:</h4>
              <h4 class="col-sm-6">{{message.send | date:'yyyy-MM-dd h:mma'}}</h4>
            </div>
            <div class="row read-button">
              <button type="button" class="btn btn-primary" ng-click="handleSelectMessage(message)">Read</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div ng-switch-when='message'>
    <div class="panel panel-primary">
      <div class="panel-heading">Message from {{selectedMessage.from.name}}</div>
      <div class="panel-body">
        <h3>{{selectedMessage.from.name}}</h3>
        <div class="row">
          <h4 class="col-sm-6">Received:</h4>
          <h4 class="col-sm-6">{{selectedMessage.send | date:'yyyy-MM-dd h:mma'}}</h4>
        </div>
        <div>{{selectedMessage.content.body}}</div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-success" ng-click="handleConfirmMessage(selectedMessage)">Confirm</button>
        <button type="button" class="btn btn-default" ng-click="handleCancelMessage()">Cancel</button>
      </div>
    </div>
  </div>

  <div ng-switch-when='editor'>
    <div class="page-header">
      <h3>Send a Message</h3>
    </div>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="form-group">
          <label>Receipient</label>
          <select chosen class="form-control" ng-options="availableReceipient.name for availableReceipient in availableReceipients track by availableReceipient._id" ng-model="newMessage.to">
            <option value=""></option>
          </select>
        </div>
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="newMessage.content.title">
        </div>
        <div class="form-group">
          <label>Content</label>
          <textarea class="form-control" placeholder="Write your message here" ng-model="newMessage.content.body"></textarea>
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-success" ng-click="handleSendMessage(newMessage)">Send</button>
        <button type="button" class="btn btn-default" ng-click="handleCancelCreate()">Cancel</button>
      </div>
    </div>

  </div>


</div>
