<div class="container login" ng-cloak>
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label class="sr-only">User Name</label>
    <input type="text" class="form-control" placeholder="User Name" required autofocus ng-model="userName">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="Password" required ng-model="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="handleSignIn(userName, password)">Sign in</button>
  </form>

</div>
<!-- /container -->

</div>
