<div class="container roles" ng-switch="showView" ng-cloak>
  <div ng-switch-default>
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="role in roles" ng-click="handleSelectRole(role)" ng-class="{info: editedRole === role}">
          <td>{{role.name}}</td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-primary" ng-click="handleShowRoleCreator()">Create New</button>
    <button type="button" class="btn btn-danger" ng-show="editedRole != undefined"
            ng-click="handleDeleteRole(editedRole)">Delete</button>
  </div>

  <div ng-switch-when='editor'>
    <div class="panel panel-primary">
      <div class="panel-heading">Create new Role</div>
      <div class="panel-body">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="editedRole.name">
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-success" ng-click="handleCreateRole(editedRole)">Save</button>
        <button type="button" class="btn btn-default" ng-click="handleCancelEdit()">Cancel</button>
      </div>
    </div>

  </div>






</div>
